:root {
    --light-grey: #adadae;
    --grey: #333;
    --dark-grey: #1c1c1c;
    --gold: rgb(153, 135, 88);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0 0 70px 0;
}

header {
    background-color: var(--grey);
    color: white;
    padding: 20px;
    text-align: center;
}

#darkModeLink {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    color: rgb(153, 135, 88);
    font-size: small;
}

#darkModeLink:hover {
    text-decoration: underline;
}

h2 {
    color: var(--grey);
}

nav ul {
    list-style: none;
    padding: 0 10px;
}

nav ul li {
    display:inline-flex;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    animation: pulse;
    animation-duration: 2s; 
    }

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#div-buttons{
    margin: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    }

.filter-btn{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--gold);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.container1,
.container2,
.container3,
.container4 {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    display: block;
}

/* img:hover {
    transform: scale(1.1);
    transform-origin: bottom;
} */

div.divImg {
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

div p, div a {
    display: none;
}

p {
    width: fit-content;
    text-wrap: pretty;
    color: black;
    margin: 5px;
}

span.bold {
    font-weight: bold;
}

span.error {
    font-size: small;
    color: red;
    margin: 0 0 5px;
}

form {
    width: 100%;
}

div.divContact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

input,
textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
}

#checkbox {
    width: auto;
}

button {
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
 
}

button:hover {
    background-color: rgb(153, 135, 88);
    animation: pulse;
    animation-duration: 2s; 
    }

footer {
    background-color: #333;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    display: block;
    color: white;
    width: 100%;
}


.dark-mode{
    background-color: black;

 header {
    background-color: var(--dark-grey);
    color: var(--gold);
} 

 h2 {
    color: var(--light-grey);
}

a {
    color: var(--light-grey);
    background-color: var(--dark-grey);
}

section {
    background-color: var(--grey);
    color: var(--light-grey);
}

div.divImg {
    background-color: var(--light-grey);
    color: black;
}

p {
    color: var(--light-grey);
}

div p {
    color: black;
}

#about-p {
    color: light-grey;
}

input,
textarea {
    background-color: var(--light-grey);
    color: black;
}

button {
    color: var(--light-grey);
}

footer {
    background-color: var(--dark-grey);
}

footer p {
    color: var(--gold);
    background-color: var(--dark-grey);
}}


/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {

    header,
    footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    p {
        font-size: small;
    }
}