/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0 0 70px 0;
    line-height: 1;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.container1,
.container2,
.container3,
.container4 {
    margin: 0 auto;
    width: 90%;
    height: auto;
    overflow: hidden;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

div.divImg {
    margin: 0;
    /* overflow-y: scroll; */
    overflow-y: hidden;
}

p {
    width: fit-content;
    text-wrap: pretty;
    color: black;
    margin: 0;
}

span.bold {
    font-weight: bold;
}

span.error {
    font-size: small;
    color: red;
    margin: 0 0 5px;
}

form {
    width: 100%;
}


div.divContact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

input,
textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
}

#checkbox {
    width: auto;
}

button {
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
}

button:hover {
    background-color: rgb(153, 135, 88);
}

footer {
    background-color: #333;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    width: 100%;
}


/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {

    header,
    footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    p {
        font-size: small;
    }
}